.head-section {
    background: url(../img/bg-grey-1.png) no-repeat top right,
                url(../img/bg-grey-6.png) no-repeat 32% 0,
                url(../img/bg-grey-2.png) no-repeat bottom right;
    background-size: auto, contain, auto;
    background-color: #dfe4e7;
    height: 450px;
    padding: 0;
}
.head-section .col-img {
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 570px;
}
.head-section .col-img .h1 {
    position: absolute;
    top: calc(50% - 150px);
    left: -100px;
}
.head-section .col-content .h3 {
    font-family: 'Alumni Sans Pinstripe';
    font-weight: 900;
    margin: 10px 0;
}

/* --------------------- */

.certificate-section {
    background: #fff;
}
.certificate-section .list-certifications {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0 0;
}
.certificate-section .list-certifications .list-certifications-tem {
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.certificate-section .list-certifications .list-certifications-tem .img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background: #D6DBDE;
}
.certificate-section .list-certifications .list-certifications-tem .img img {
    max-width: 80%;
}
.certificate-section .list-certifications .list-certifications-tem .content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #3f4346;
    margin: 15px 0 0;
}
.certificate-section .list-certifications .list-certifications-tem .content .icon {
    margin: 0 15px 0 0;
}
.certificate-section .list-certifications .list-certifications-tem .content .name-cert .h3 {
    font-size: 16px;
    line-height: 16px;
    color: #000;
}
.certificate-section .list-certifications .list-certifications-tem .content .name-cert span {
    font-size: 15px;
    line-height: 15px;
}

/* --------------------- */

.philosophy-section {
    background: url(../img/bg-grey-3.png) no-repeat center right;
}
.philosophy-section .flex-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.philosophy-section .col-left,
.philosophy-section .col-right {
    width: 40%;
}
.philosophy-section .col-left .h2 {
    margin: 0 0 20px;
}
.philosophy-section .col-right .avatar {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px;
    border-radius: 50%;
    overflow: hidden;
    background: #D6DBDE;
}
.philosophy-section .col-right .social {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    gap: 0 10px;
}
.philosophy-section .col-right .social a {
    color: #425366;
}
.philosophy-section .col-right .social a:hover {
    color: #1d2630;
}