.head-section {
    background: url(../img/bg-grey-1.png) no-repeat top right,
                url(../img/bg-grey-6.png) no-repeat 32% 0,
                url(../img/bg-grey-2.png) no-repeat bottom right;
    background-size: auto, contain, auto;
    background-color: #dfe4e7;
    height: 450px;
    padding: 0;
}
.head-section .col-img {
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 570px;
}
.head-section .col-img .h1 {
    font-size: 45px;
    line-height: 50px;
    position: absolute;
    top: calc(50% - 70px);
    left: 25%;
}
.head-section .col-content {
    margin: 0 50px;
}
.head-section .col-content .h3 {
    font-family: 'Alumni Sans Pinstripe';
    font-weight: 900;
    margin: 10px 0;
}

/* --------------------- */

.contact-section {
    background: url(../img/bg-grey-3.png) no-repeat 100% 70%;
}
.contact-section .flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-section .col-contact {
    width: 30%;
}
.contact-section .col-contact .list-contact {
    color: black;
}
.contact-section .col-contact .list-contact .list-contact-item {
    margin: 0 0 10px;
}
.contact-section .col-contact .list-contact .list-contact-item p {
    margin: 0 0 10px;
}
.contact-section .col-contact .list-contact .list-contact-item i {
    display: inline-block;
    margin: 0 10px 0 0;
    color: #425366;
}
.contact-section .col-contact .list-contact .list-contact-item span {
    display: inline-block;
    margin: 0 0 0 10px;
}
.contact-section .col-contact .list-contact .list-contact-item .social {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 25px;
    gap: 0 10px;
    margin: 20px 0 0;
}
.contact-section .col-contact .list-contact .list-contact-item .social a {
    color: #425366;
}
.contact-section .col-contact .list-contact .list-contact-item .social a:hover {
    color: #1d2630;
}
.contact-section .col-map {
    width: 50%;
    border: 10px solid #dfe4e7;
}
iframe {
    width: 100%;
}