@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Oswald:wght@200..700&display=swap');

body {
    font-family: 'Alumni Sans Pinstripe';
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 900;
    background: #f2f3f7;
    color: #000;
}

.wrapper {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
}

.flex-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

img {
    max-width: 100%;
    max-height: 100%;
}

a {
    text-decoration: none;
}

.h1, .h2, .h3, .h4 {
    font-weight: 300;
}

.h1 {
    font-family: 'Oswald';
    font-size: 36px;
    line-height: 42px;
}

.h2 {
    font-family: 'Oswald';
    font-size: 30px;
    line-height: 36px;
}

.h3 {
    font-family: 'Oswald';
    font-size: 20px;
    line-height: 30px;
    color: #3f4346;
}

.btn {
    background: #425366;
    color: #fff;
    border: none;
    font-size: 15px;
    padding: 5px 20px;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.3s;
    letter-spacing: 1px;
}

.btn:hover {
    background: #1d2630;
}

button {
    cursor: pointer;
}

.list-item {
    position: relative;
    padding: 0 0 0 20px;
}

.list-item:before {
    content: '';
    position: absolute;
    top: 7px;
    left: 0;
    display: block;
    width: 8px;
    height: 8px;
    background: #b2c5d9;
    border-radius: 50%;
}

main {
    background: url(../img/bg-grey-5.png) no-repeat left bottom #f0f2f1;
}

section {
    padding: 40px;
}


a.link {
    transition: 0.3s;
    color: #a26b45;
}
a.link:hover {
    color: #1d2630;
}

/* ------------------- */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poiret One';
    font-weight: 600;
    background: #fff;
    padding: 10px 0;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);
    text-transform: uppercase;
    font-family: 'Alumni Sans Pinstripe';
}

.header .logo {
    max-width: 50px;
}

.header .logo img {
    max-width: 100%;
}

.header .menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header .menu a {
    position: relative;
    color: #000;
    margin: 0 0 0 30px;
}

.header .menu a:before {
    content: '';
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #000;
    transition: 0.3s;
}

.header .menu a:hover:before {
    width: 100%;
}

.header .menu a.active {
    color: #425366;
}

/* ---------------- */

