.head-section {
    background: url(../img/bg-grey-1.png) no-repeat top right,
                url(../img/bg-grey-6.png) no-repeat 32% 0,
                url(../img/bg-grey-2.png) no-repeat bottom right;
    background-size: auto, contain, auto;
    background-color: #dfe4e7;
    height: 450px;
    padding: 0;
}
.head-section .col-img {
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 570px;
}
.head-section .col-img .h1 {
    position: absolute;
    top: calc(50% - 150px);
    left: -100px;
}
.head-section .col-content {
    margin: 0 50px;
}
.head-section .col-content .h3 {
    font-family: 'Alumni Sans Pinstripe';
    font-weight: 900;
    margin: 10px 0;
}

/* --------------------- */

.popular-section {
    background: #fff;
}
.popular-section .list-popular {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 40px 0 0;
    text-align: center;
}
.popular-section .list-popular .list-popular-item .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background: #DFE4E7;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 10px;
}
.popular-section .list-popular .list-popular-item .icon img {
    max-width: 60%;
}
.popular-section .list-popular .list-popular-item .h3 {
    color: #000;
    font-weight: 400;
}
.popular-section .list-popular .list-popular-item p {
    max-width: 200px;
    font-size: 16px;
    line-height: 18px;
    margin: 5px 0 10px;
}
.popular-section .list-popular .list-popular-item .btn {
    background: #fff;
    border: 1px solid #425366;
    color: #000;
    border-radius: 20px;
}
.popular-section .list-popular .list-popular-item .btn:hover {
    background: #425366;
    color: #fff;
}

/* --------------------- */

.all-services-section {
    background: url(../img/bg-grey-3.png) no-repeat center right;
}
.all-services-section .list-all-services {
    margin: 40px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.all-services-section .list-all-services .list-all-services-item {
    width: 23%;
    background: rgba(255,255,255,0.4);
    padding: 20px;
    border-radius: 10px;
    color: #3f4346;
}
.all-services-section .list-all-services .list-all-services-item:hover {
    background: rgba(255,255,255,1);
}
.all-services-section .list-all-services .list-all-services-item .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background: #DFE4E7;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 10px;
}
.all-services-section .list-all-services .list-all-services-item .icon img {
    max-width: 60%;
}
.all-services-section .list-all-services .list-all-services-item .h3 {
    color: #000;
    font-weight: 400;
}
.all-services-section .list-all-services .list-all-services-item p {
    max-width: 200px;
    font-size: 16px;
    line-height: 18px;
    margin: 5px 0 10px;
}
