.head-section {
    background: url(../img/bg-grey-1.png) no-repeat top right,
                url(../img/bg-grey-6.png) no-repeat 32% 0,
                url(../img/bg-grey-2.png) no-repeat bottom right;
    background-size: auto, contain, auto;
    background-color: #dfe4e7;
    height: 450px;
    padding: 0;
}
.head-section .col-img {
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 570px;
}
.head-section .col-img .h1 {
    position: absolute;
    top: calc(50% - 150px);
    left: -100px;
}
.head-section .col-content {
    margin: 0 50px;
}
.head-section .col-content .h3 {
    font-family: 'Alumni Sans Pinstripe';
    font-weight: 900;
    margin: 10px 0;
}

/* --------------------- */

.slider-section {
    margin: 40px 0 0;
}
.slider-section .swiper {
    border: 5px solid #dfe4e7;
    border-radius: 20px;
    padding: 30px;
}
.slider-section .swiper .swiper-slide {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border: 5px solid #dfe4e7;
    border-radius: 20px;
    padding: 20px;
}
.slider-section .swiper .swiper-slide .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    min-width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #dfe4e7;
    margin: 0 20px 0 0;
    overflow: hidden;
}
.slider-section .swiper .swiper-slide .avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider-section .swiper .swiper-slide .content .name {
    font-family: 'Oswald';
    margin: 0 0 10px;
}
.slider-section .swiper .swiper-slide .content .stars {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0 5px
}
.slider-section .swiper .swiper-slide .content .stars span {
    display: block;
    width: 15px;
    height: 15px;
    background-size: contain;
}
.slider-section .swiper .swiper-slide .content .stars span:nth-child(1) {background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 640'%3E%3Cpath d='M341.5 45.1C337.4 37.1 329.1 32 320.1 32C311.1 32 302.8 37.1 298.7 45.1L225.1 189.3L65.2 214.7C56.3 216.1 48.9 222.4 46.1 231C43.3 239.6 45.6 249 51.9 255.4L166.3 369.9L141.1 529.8C139.7 538.7 143.4 547.7 150.7 553C158 558.3 167.6 559.1 175.7 555L320.1 481.6L464.4 555C472.4 559.1 482.1 558.3 489.4 553C496.7 547.7 500.4 538.8 499 529.8L473.7 369.9L588.1 255.4C594.5 249 596.7 239.6 593.9 231C591.1 222.4 583.8 216.1 574.8 214.7L415 189.3L341.5 45.1z'/%3E%3C/svg%3E");}
.slider-section .swiper .swiper-slide .content .stars span:nth-child(2) {background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 640'%3E%3Cpath d='M341.5 45.1C337.4 37.1 329.1 32 320.1 32C311.1 32 302.8 37.1 298.7 45.1L225.1 189.3L65.2 214.7C56.3 216.1 48.9 222.4 46.1 231C43.3 239.6 45.6 249 51.9 255.4L166.3 369.9L141.1 529.8C139.7 538.7 143.4 547.7 150.7 553C158 558.3 167.6 559.1 175.7 555L320.1 481.6L464.4 555C472.4 559.1 482.1 558.3 489.4 553C496.7 547.7 500.4 538.8 499 529.8L473.7 369.9L588.1 255.4C594.5 249 596.7 239.6 593.9 231C591.1 222.4 583.8 216.1 574.8 214.7L415 189.3L341.5 45.1z'/%3E%3C/svg%3E");}
.slider-section .swiper .swiper-slide .content .stars span:nth-child(3) {background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 640'%3E%3Cpath d='M341.5 45.1C337.4 37.1 329.1 32 320.1 32C311.1 32 302.8 37.1 298.7 45.1L225.1 189.3L65.2 214.7C56.3 216.1 48.9 222.4 46.1 231C43.3 239.6 45.6 249 51.9 255.4L166.3 369.9L141.1 529.8C139.7 538.7 143.4 547.7 150.7 553C158 558.3 167.6 559.1 175.7 555L320.1 481.6L464.4 555C472.4 559.1 482.1 558.3 489.4 553C496.7 547.7 500.4 538.8 499 529.8L473.7 369.9L588.1 255.4C594.5 249 596.7 239.6 593.9 231C591.1 222.4 583.8 216.1 574.8 214.7L415 189.3L341.5 45.1z'/%3E%3C/svg%3E");}
.slider-section .swiper .swiper-slide .content .stars span:nth-child(4) {background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 640'%3E%3Cpath d='M341.5 45.1C337.4 37.1 329.1 32 320.1 32C311.1 32 302.8 37.1 298.7 45.1L225.1 189.3L65.2 214.7C56.3 216.1 48.9 222.4 46.1 231C43.3 239.6 45.6 249 51.9 255.4L166.3 369.9L141.1 529.8C139.7 538.7 143.4 547.7 150.7 553C158 558.3 167.6 559.1 175.7 555L320.1 481.6L464.4 555C472.4 559.1 482.1 558.3 489.4 553C496.7 547.7 500.4 538.8 499 529.8L473.7 369.9L588.1 255.4C594.5 249 596.7 239.6 593.9 231C591.1 222.4 583.8 216.1 574.8 214.7L415 189.3L341.5 45.1z'/%3E%3C/svg%3E");}
.slider-section .swiper .swiper-slide .content .stars span:nth-child(5) {background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 640'%3E%3Cpath d='M320.1 32C329.1 32 337.4 37.1 341.5 45.1L415 189.3L574.9 214.7C583.8 216.1 591.2 222.4 594 231C596.8 239.6 594.5 249 588.2 255.4L473.7 369.9L499 529.8C500.4 538.7 496.7 547.7 489.4 553C482.1 558.3 472.4 559.1 464.4 555L320.1 481.6L175.8 555C167.8 559.1 158.1 558.3 150.8 553C143.5 547.7 139.8 538.8 141.2 529.8L166.4 369.9L52 255.4C45.6 249 43.4 239.6 46.2 231C49 222.4 56.3 216.1 65.3 214.7L225.2 189.3L298.8 45.1C302.9 37.1 311.2 32 320.2 32zM320.1 108.8L262.3 222C258.8 228.8 252.3 233.6 244.7 234.8L119.2 254.8L209 344.7C214.4 350.1 216.9 357.8 215.7 365.4L195.9 490.9L309.2 433.3C316 429.8 324.1 429.8 331 433.3L444.3 490.9L424.5 365.4C423.3 357.8 425.8 350.1 431.2 344.7L521 254.8L395.5 234.8C387.9 233.6 381.4 228.8 377.9 222L320.1 108.8z'/%3E%3C/svg%3E");}
.slider-section .swiper .swiper-slide .content .text {
    margin: 10px 0 0;
    font-size: 12px;
    line-height: 14px;
}
.slider-section .swiper .swiper-button-prev,
.slider-section .swiper .slider-section .swiper .swiper-button-next {
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.slider-section .swiper .swiper-button-prev {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 640'%3E%3Cpath fill='%23425366' d='M320 576C461.4 576 576 461.4 576 320C576 178.6 461.4 64 320 64C178.6 64 64 178.6 64 320C64 461.4 178.6 576 320 576zM199 303L279 223C288.4 213.6 303.6 213.6 312.9 223C322.2 232.4 322.3 247.6 312.9 256.9L273.9 295.9L424 295.9C437.3 295.9 448 306.6 448 319.9C448 333.2 437.3 343.9 424 343.9L273.9 343.9L312.9 382.9C322.3 392.3 322.3 407.5 312.9 416.8C303.5 426.1 288.3 426.2 279 416.8L199 336.8C189.6 327.4 189.6 312.2 199 302.9z'/%3E%3C/svg%3E");
    left: 0;
}

.slider-section .swiper .swiper-button-next {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 640'%3E%3Cpath fill='%23425366' d='M320 576C461.4 576 576 461.4 576 320C576 178.6 461.4 64 320 64C178.6 64 64 178.6 64 320C64 461.4 178.6 576 320 576zM361 417C351.6 426.4 336.4 426.4 327.1 417C317.8 407.6 317.7 392.4 327.1 383.1L366.1 344.1L216 344.1C202.7 344.1 192 333.4 192 320.1C192 306.8 202.7 296.1 216 296.1L366.1 296.1L327.1 257.1C317.7 247.7 317.7 232.5 327.1 223.2C336.5 213.9 351.7 213.8 361 223.2L441 303.2C450.4 312.6 450.4 327.8 441 337.1L361 417.1z'/%3E%3C/svg%3E");
    right: 0;
}
.slider-section .swiper .swiper-button-prev svg,
.slider-section .swiper .swiper-button-next svg {
    display: none;
}
.slider-section .swiper .swiper-pagination-bullet-active {
    background: #425366;
}

/* --------------------- */

.ready-section {
    text-align: center;
    background: url(../img/bg-grey-3.png) no-repeat 100% 70%;
}
.ready-section button {
    margin: 30px 0;
}
.ready-section p {
    max-width: 700px;
    margin: 0 auto;
}